* {
  box-sizing: border-box;
}

:root {
  --colour1: #361d32;
  --colour2: #543c52;
  --colour3: #f55951;
  --colour4: #edd2cb;
  --colour5: #f1e8e6;
  --alphacolour: rgba(53, 29, 49, 0.8);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--colour5);
}

h1 {
  font-size: 3vw;
  color: var(--colour4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 15px;
  background-color: var(--colour1);
}

nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: var(--colour4);
  padding: 0 10px;
  margin: 15px 15px;
  font-size: 1.5vw;
  transition: all 0.1s ease-in;
  border-bottom: 2px solid var(--colour4);
  border-right: 2px solid var(--colour4);
}

nav a:hover {
  font-size: 1.6vw;
  color: var(--colour3);
  border-bottom: 3px solid var(--colour3);  
  border-right: 3px solid var(--colour3);
}

nav a:last-child {
  margin-right: 20px;
}

.nav-left, .nav-right {
  display: flex;
  flex-flow: row wrap;
}

.nav-right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.burger {
  display: none;
}

/* Concept for a nav bar button - unsure how to complete without JavaScript

@media screen and (max-width:700px) {
  nav a {
    display: none;
  }
  .burger,
  .burger:hover {
    display: flex;
    border: none;
  }
} */

.hero-banner {
  background-color: var(--colour3);
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero-banner img {
  border-radius: 50%;
  border: 5px solid var(--colour1);
  margin-left: 15px;
  align-self: center;
  justify-self: flex-start;
  height: 18vh;
}

.hero-banner h2 {
  font-size: 2.5vw;
  background-color: var(--colour1);
  color: var(--colour4);
  padding: 15px 60px;
  border-top: 5px solid var(--colour5);
  border-left: 5px solid var(--colour5);
}

.page-wrapper {
  max-width: 95%;
  margin: 3vh auto;
}

.page-section {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 50px;
  color: var(--colour1);
}

.page-section h2 {  
  font-size: 30px;
  padding-right: 15px;
  margin-right: 20px;
  border-right:5px solid var(--colour1);
  text-align: end;
  flex: 0 0 15%;
  flex-flow: row wrap;
  min-width: 130px;
}

.page-section h3 {
  font-size: 22px;
  line-height: 2;
}

.page-section div,
.page-section section {
  flex: 0 0 80%;
}

.grid-container {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 40% 40%;
  grid-template-rows: 50% 35%;
  grid-template-areas: 
    "firstSite firstSite"
    "htmlRefactor somethingElse";
}

.grid-item {
  display: grid;
  align-items: flex-end;
  background-color: var(--colour1);
  text-decoration: none;
  font-size: 0.9rem;
  border: 5px solid var(--colour2);
  margin: 0.5em;
  min-height: 130px;
  min-width: 150px;
}

.grid-item:hover {
  border: 6px solid var(--colour3);
  background-color: var(--alphacolour);
}

.grid-item:hover a {  
  font-size: 15px;
  color: var(--colour3);
}

.grid-item a {
  color: var(--colour4);
  text-decoration: none;
  background-color: var(--alphacolour);
  padding: 5px 10px;
}

.firstSite { 
  grid-area: firstSite;
  background: linear-gradient(
    rgba(53, 29, 49, 0.5),
    var(--colour1) 
  ),
  url(../images/first-site.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.firstSite:hover {
  background-image: url(../images/first-site.png);
}

.htmlRefactor { 
  grid-area: htmlRefactor;
  background: linear-gradient(
    rgba(53, 29, 49, 0.5),
    var(--colour1) 
  ),
  url(../images/html-refactor.png);
  background-repeat: no-repeat;
  background-size: cover; 
}

.htmlRefactor:hover {
  background-image: url(../images/html-refactor.png);
}

.somethingElse { grid-area: somethingElse; }

address a {
  text-decoration: none;
  color: var(--colour2);
  padding: 0 10px;
  margin: 15px 15px;
  font-size: 1.5vw;
  transition: all 0.1s ease-in;
  border-bottom: 2px solid var(--colour2);
  border-right: 2px solid var(--colour2);
}

address a:hover {
  font-size: 1.6vw;
  color: var(--colour3);
  border-bottom: 3px solid var(--colour3);  
  border-right: 3px solid var(--colour3);
}